<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de compra</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let detalle of detalles">
      <ion-card-header>
        <ion-card-title>Producto: {{ detalle.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <!-- Mostrar imagen del producto -->
          <ion-thumbnail slot="start">
            <img *ngIf="detalle.imagen" [src]="detalle.imagen" alt="Producto" />
          </ion-thumbnail>
          <ion-label>
            <p>ID Producto: {{ detalle.idProducto }}</p>
            <p>Cantidad: {{ detalle.cantidad }}</p>
            <p>Subtotal: {{ detalle.subtotal }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
