<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h1>Editar perfil</h1>
    <ion-card-header>
    <h1>         
      <ion-avatar >
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </h1> 
    <h3>
      foto perfil 
      <br>
       <ion-button color="dark" >cambiar foto de perfil </ion-button> 
    </h3>
    
      </ion-card-header>
    <ion-card-header>
      <ion-card-title>Datos del perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-item>
        <ion-label >Nombre: </ion-label>
        <ion-text>{{nombre}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label >Nuevo nombre: </ion-label>
        <ion-input  labelPlacement="floating" [(ngModel)]=" nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-text>{{email}}</ion-text>
        <ion-icon slot="end" name="lock-closed" aria-hidden="true"></ion-icon>
      </ion-item>
      
      <ion-item>
        <p><a [routerLink]="['/cambio-contra']">cambiar tu contraseña <ion-icon name="create"></ion-icon></a></p>
      </ion-item>
    </ion-card-content>
    
      <ion-button color="dark"(click)="volver()" >Guardar cambios </ion-button>
      <ion-button color="dark" [routerLink]="['/ver-perfil']" >volver </ion-button>
  </ion-card>
</ion-content>