// Estilos del encabezado
ion-header {
  --background: rgba(255, 255, 255, 0.9); // Fondo blanco translúcido
}

ion-toolbar {
  --background: #003366; // Azul oscuro
  color: #ffffff; // Texto blanco
}

ion-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

  img {
    height: 24px; // Ajusta la altura de la imagen
    margin-right: 8px; // Añade un pequeño margen a la derecha de la imagen
  }

  ion-icon {
    margin-left: 8px; // Añade un margen a la izquierda del ícono
  }
}

// Estilos del contenido
ion-content {
  --background: #f5f5f5; // Fondo gris claro
}

.intro-section {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h1 {
    font-size: 28px;
    color: #003366; // Azul oscuro
  }

  p {
    font-size: 16px;
    color: #666666; // Gris oscuro
  }
}

.highlight-card {
  margin: 0 16px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }

  ion-card-header {
    background: #003366; // Azul oscuro
    color: #ffffff; // Texto blanco
  }

  ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }

  ion-card-subtitle {
    font-size: 16px;
    color: #dddddd; // Gris claro
  }
}

.models-section {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 16px;

  h2 {
    font-size: 24px;
    color: #003366; // Azul oscuro
  }

  p {
    font-size: 16px;
    color: #666666; // Gris oscuro
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.buttons-container {
  margin-top: 20px;
}

ion-button {
  --background: #003366; // Azul oscuro
  --color: #ffffff; // Texto blanco
  --border-radius: 8px;
}

ion-footer {
  --background: #003366; // Azul oscuro

  ion-title {
    color: #ffffff; // Texto blanco
  }
}

.usuario-imagen {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover;
}