<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h1>Editar perfil</h1>
    <ion-card-header>
    <h3>
        <img [src]="user.imagen || 'assets/defectoimagen.png'" alt="Imagen de perfil por defecto" class="usuario-imagen" *ngIf="user.imagen || !user.imagen">  
      <ion-button  (click)="takePicture()">cambiar foto de perfil </ion-button> 
      </h3>
    
      </ion-card-header>
    <ion-card-header>
      <ion-card-title>Datos del perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="user.nombre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">correo</ion-label>
        <ion-input [(ngModel)]="user.correo" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" fill="clear" (click)="irACambioContrasena()">
          Cambiar tu contraseña 
          <ion-icon name="create" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      
    </ion-card-content>
    
      <ion-button (click)="presentAlert()" >Guardar cambios </ion-button>
      <ion-button  [routerLink]="['/ver-perfil']" >volver </ion-button>
  </ion-card>
</ion-content>