<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>


  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-list>
  <ion-title><h1> Usuarios </h1></ion-title>
  <ion-item *ngFor="let x of AllUsers">
    <ion-label>
      <h6>{{ x.nombre }} </h6>
      <ion-label>{{ x.correo }} </ion-label>
      <p>codigo de usuario: {{x.idusuario}}</p>
    </ion-label>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="auto">
        <ion-button 
          fill="clear" 
          side="end" color="danger">
          <ion-icon name="pencil" slot="icon-only"></ion-icon>
          bannear
        </ion-button>
      </ion-col> <!-- 
        [routerLink]="['/editar-crud', crud.id]"   [routerLink]="'/aeromatizantes'"-->
    </ion-row>
  </ion-item>
</ion-list> 
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>