/* Estilos para el encabezado */
ion-header {
  --background: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
}

ion-toolbar {
  --background: #003366; /* Azul oscuro */
  color: #ffffff; /* Texto blanco */
}

ion-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

  img {
    height: 24px; /* Ajusta la altura de la imagen */
    margin-right: 8px; /* Añade un pequeño margen a la derecha de la imagen */
  }

  ion-icon {
    margin-left: 8px; /* Añade un margen a la izquierda del ícono */
  }
}


ion-title ion-icon {
  font-size: 24px;
  margin-right: 8px;
}

/* Estilos para el contenido */
ion-content {
  --background: #f5f5f5; /* Fondo gris claro */
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #003366; /* Azul oscuro */
  margin-bottom: 20px;
  text-align: center;
}
h5 {
  font-size: 14px;
  color: #666666; /* Gris oscuro */
  text-align: center;
  margin-top: 20px;
}
ion-item {
  margin-bottom: 16px;
} 

ion-label {
  font-size: 16px;
  color: #003366; /* Azul oscuro */
}

ion-input {
  --placeholder-color: #cccccc; /* Color de placeholder gris */
}

ion-button {
  --background: #003366; /* Azul oscuro */
  --color: #ffffff; /* Texto blanco */
  --border-radius: 8px;
}

/* Centrar el contenido en el ion-header */
.center-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
}

.center-title .logo {
  height: 40px;
  margin-right: 10px;
}

.center-title .icon {
  font-size: 24px;
  margin-left: 10px;
}

/* Centrar el contenido dentro de ion-content */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.form-container {
  width: 100%;
  max-width: 450px; /* Limita el ancho máximo para pantallas grandes */
  margin-bottom: 20px; /* Espacio entre los formularios */
}

ion-item {
  margin-bottom: 10px;
}

ion-button[expand="block"] {
  margin-top: 16px; /* Espacio superior para los botones */
  width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
}

/* Ajustes de padding y márgenes para mejorar el espaciado */
ion-input, ion-select {
  padding: 10px;
}

/* Mejora la apariencia del botón al pasar el ratón */
ion-button:hover {
  background-color: #3880ff;
  opacity: 0.8;
}
