<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      Ventas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtro de búsqueda -->
  <ion-searchbar [(ngModel)]="terminoBusqueda" (ionInput)="filtrarVentas()" debounce="300" placeholder="Buscar por ID venta o usuario"></ion-searchbar>

  <!-- Lista de Ventas -->
  <ion-list>
    <ion-card *ngFor="let venta of ventasFiltradas">
      <ion-card-header>
        <ion-card-title> Nº de venta: {{ venta.idVenta }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <!-- Mostrar detalles del usuario asociado a la venta -->
          <ion-avatar slot="start">
            <!-- Asegúrate de que la imagen esté en formato correcto -->
            <img *ngIf="venta.imagen" [src]="venta.imagen" alt="Usuario">
          </ion-avatar>
          <ion-label>
            <p>Nombre: {{ venta.nombre }}</p>
            <p>Correo: {{ venta.correo }}</p>
            <p>Total: {{ venta.total }}</p>
          </ion-label>
          <ion-button (click)="verDetalles(venta.idVenta)">Ver Detalles</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
