<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <!-- Título -->
      <h1>Ingreso</h1>
      
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="objetoLogin.correo" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="objetoLogin.contrasena" type="password" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

       <!-- Selección de rol -->
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="objetoLogin.rol">
        <ion-select-option value="cliente">Cliente</ion-select-option>
        <ion-select-option value="vendedor">Vendedor</ion-select-option>
      </ion-select>
    </ion-item>
    
      <ion-button expand="full" (click)="login()">Ingresar</ion-button>

      <h6>¿Olvidaste tu contraseña? <a [routerLink]="['/recupera-contra']">Recuperar contraseña</a></h6>
      <h5>¿No tienes cuenta? <a [routerLink]="['/registro']">Regístrate</a></h5>
    </ion-card-content>
  </ion-card>
</ion-content>
