<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <h1>Perfil</h1>
    <ion-card-header>
      <h1>
          <img [src]="imagen || 'assets/defectoimagen.png'" alt="Imagen de perfil por defecto" class="usuario-imagen" *ngIf="imagen || !imagen">
      </h1>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Datos del perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-text>{{username}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-text>{{email}}</ion-text>
      </ion-item>
      <!--  solo use para verificar que la pregunta de seguridad si se añade a la bd
      <ion-item>
        <ion-label>Pregunta de seguridad: </ion-label>
        <ion-text>{{preguntaSeleccionada}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Respuesta de seguridad: </ion-label>
        <ion-text>{{respuestaSeguridad}}</ion-text>
      </ion-item>

      -->
      <ion-item>
        <ion-label>Contraseña: </ion-label>
        <ion-input type="password" value="{{password}}" disabled></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button  (click)="editProfile()" >Editar perfil</ion-button>
    <ion-button  [routerDirection]="'root'" [routerLink]="'/home'">Volver</ion-button>
  <!--  <ion-button color="dark" [routerLink]="['/home']">Volver</ion-button>-->
  </ion-card>
</ion-content>