ion-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  
    img {
      height: 150px; /* Ajusta la altura de la imagen */
      margin-right: 8px; /* Añade un pequeño margen a la derecha de la imagen */
    }
  
    ion-icon {
      margin-left: 8px; /* Añade un margen a la izquierda del ícono */
    }
  }
