<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>


  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding not-found-content">
  <div class="container">
    <img src="https://media1.tenor.com/m/cPiBP2jJhr0AAAAC/asi-te-queria-agarrar-porki.gif" alt="" style="width: 100%; height: auto;">
    <h1>404</h1>
    <h2>¡Oops! Página no encontrada</h2>
    <p>Lo sentimos, pero la página que estás buscando no existe o ha sido movida.</p>
    <ion-button expand="block" routerLink="/">Volver al Inicio</ion-button>
  </div>
</ion-content>