<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input [(ngModel)]="crud.nombre" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="crud.descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-textarea [(ngModel)]="crud.precio" inputmode="decimal"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button (click)="takePicture()">Subir imagen</ion-button>
    <img [src]="crud.imagen" alt="Imagen del producto" class="producto-imagen" *ngIf="crud.imagen">
  </ion-item>
  

  <ion-item>
    <ion-label position="floating">Página del producto</ion-label>
    <ion-select [(ngModel)]="crud.categoria" placeholder="Seleccionar página de destino">
      <ion-select-option value="aeromatizantes">Aeromatizantes</ion-select-option>
      <ion-select-option value="cars-depor">Cars Deportivos</ion-select-option>
      <ion-select-option value="cars-muscle">Cars Muscle</ion-select-option>
      <ion-select-option value="llantas">Llantas</ion-select-option>
      <ion-select-option value="otros">Otros</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full"  (click)="modificar()">modificar</ion-button>
  <ion-button expand="full" [routerLink]="['/agregar']">Volver</ion-button>
</div>
</ion-content>
