<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/Logo.png" alt="logo">
      <ion-icon name="logo-ionitron" slot="start"></ion-icon>
      MotorSphere
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Agregar</ion-title>
        </ion-toolbar>
      </ion-header>

  <form (ngSubmit)="presentAlert()">
    <div>
    <h1>Agregar Producto</h1>
    <ion-item>
      <ion-label position="floating">nombre</ion-label>
      <ion-input [(ngModel)]="crud.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="crud.descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="crud.precio" name="precio" type="number" inputmode="decimal" required (ionChange)="validarPrecio($event)"></ion-input>
      <ion-text color="danger" *ngIf="mensajeError">
        {{ mensajeError }}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="crud.stock" 
      name="stock" type="number" 
      required (ionChange)="validarStock($event)"></ion-input>
      <ion-text color="danger" *ngIf="mensajeErrorStock">
        {{ mensajeErrorStock }}
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select  [(ngModel)]="categoriaSeleccionada"  [(ngModel)]="crud.idCategoria" name="categoria" required>
        <ion-select-option  
          *ngFor="let categoria of categorias" 
          [value]="categoria.idCategoria"
        >
          {{ categoria.nomCateg }}
        </ion-select-option>
      </ion-select>
    </ion-item>

      
    <ion-button type="button" (click)="takePicture()">cambiar imagen</ion-button>
      <ion-img [src]="crud.imagen" alt="Imagen del producto" class="producto-imagen" *ngIf="crud.imagen"></ion-img>

    

    <ion-button expand="full" type="submit">Modificar</ion-button>
  </div>
  </form>

</ion-card-content>
</ion-card>
</ion-content>